name: Clean VPN Configs

on:
  schedule:
    - cron: '01 */6 * * *' # Запуск каждые 6 часов 1 минута
  workflow_dispatch: # Возможность запустить вручную
  
permissions:
  contents: write
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install requests

      - name: Run cleaner script
        run: python cleaner.py

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add cleaned_links.txt
          git commit -m "Update cleaned links" || exit 0
          git push
